.content{data: {comment_id: "#{comment.id}" }}
  .content-info
    %p.cotent-info__user
      = comment.user.name
    %p.content-info__date-time
      = comment.created_at.strftime("%Y/%m/%d %H:%M")
  .content__text
    - if comment.content.present?
      = comment.content
  = image_tag comment.image.url, class: 'lower-message__image' if comment.image.present?
