.side
  .side-header
    %p.side-header__user-name
      = current_user.name
    %ul.user-menu
      %li.user-menu__create-group
        = link_to new_group_path do
          %i.fa.fa-edit.my-white
      %li.user-menu__edit-user
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog.my-white
  
  .group_selection
    - current_user.groups.each do |group|
      = link_to group_comments_path(group) do
        .group_selection__group-name
          = group.name
        .group_selection__group-comment
          メッセージはまだありません。
